/* global Variable */
:root {
    --icon-size: 4rem;
    --main-color: #4B4B4B;
    --second-color: #D9D9D9;
}

/* Selection color bg color */
::selection{
    background-color: var(--main-color);
    color: whitesmoke;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer span::selection, footer p::selection, header a::selection {
    background-color: var(--second-color);
    color: black;
}

/* Hide horizontal overflow */
footer {
    overflow-x: hidden;
}

/* Classes */
.main-bg-color {
    background-color: var(--main-color) !important;
}

.secondary-bg-color {
    background-color: var(--second-color) !important;
}

/* Button background color when hover */
.btn-color:hover {
    background-color: #303030 !important;
}

.header-bg-color {
    background-color: #8f8f8f !important;
}

/* Icon size */
.icon-size {
    width: var(--icon-size);
}

.icon-size-small {
    width: calc(var(--icon-size) - 1rem);
}